<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">

<body>

<div align="center">
    <h1>Search IMDB</h1>
    <form th:action="@{/searchimdb}" th:object="${movies}">
        <label>
            <input type="text" name="keyword" id="keyword" th:value="${keyword}" placeholder="Search..."
                   required>
        </label>
        <button type="submit" value="Search">Submit</button>
    </form>
    <br>
</div>

<div th:if="${not #lists.isEmpty(listMovies)}" size="30">
    <table border="1" cellpadding="10" class="table">
        <thead>
        <tr>
            <th>Title ID</th>
            <th>Title Type</th>
            <th>Primary Title</th>
            <th>Original Title</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="movies : ${listMovies}">
            <td th:text="${movies.tconst}">Title ID</td>
            <td th:text="${movies.titleType}">Title Type</td>
            <td th:text="${movies.primaryTitle}">Primary Title</td>
            <td th:text="${movies.originalTitle}">Original Title</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
